In [16]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv("sheet.csv")
df

       X           Y
0      1    3.888889
1      2    4.555556
2      3    5.222222
3      4    5.888889
4      5    6.555556
..   ...         ...
295  296  200.555556
296  297  201.222222
297  298  201.888889
298  299    1.888889
299  300    1.888889

[300 rows x 2 columns]

In [24]:
print(df.shape)
df.head()

(300, 2)

   X         Y
0  1  3.888889
1  2  4.555556
2  3  5.222222
3  4  5.888889
4  5  6.555556

In [19]:
#collection x and y 
x=df["X"].values
y=df["Y"].values

In [48]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

model=LinearRegression()
model=model.fit(x,y)

y_predicted=model.predict(x)

r2_score=model.score(x,y)

print(r2_score)

0.9213615685311795

NameError: name 'np' is not defined